<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>ERAS Shopping Demo</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}" ></script>
        <script type="text/javascript" th:src="@{/js/modal.js}" ></script>
        <script type="text/javascript" th:src="@{/js/cart.js}" ></script>
    </head>
    <body>
    	<div class="backButton" id="checkoutBack">back</div>
       <a th:if="${role != 'ADMIN' AND  role != 'USER'}" 
       class="loginbutton" th:href="@{/login}">
		  Login
		</a>
		<a th:if="${role == 'ADMIN' OR  role == 'USER'}" 
		class="loginbutton" th:href="@{/logout}">
		  Logout
		</a>
		
		<div class="confirmTitle">Review Cart Contents</div>
		
		<ul id="cartItems">
			<li class="cartListItem cartProduct" th:if="${existingCart != '' &&  existingCart != null}" th:each="product : ${existingCart}">
			
				<img class="cartproductImage" th:src="${product.image}">
				<div class="cartProductName" th:id="${product.id}" th:name="${product.name}" th:text="${product.name}"></div>
				<div class="cartQuantityTimes">x</div>
				<div class="cartProductQuantity" th:quantity="${product.inventory}" th:text="${product.inventory}">1</div>
				<div class="cartProductPrice" th:price="${product.price}" th:text="${'$' + product.price}"></div>
			
			</li>
			<li th:if="${existingCart != '' &&  existingCart != null}" class="cartListItem">
				<div class="totalprice" th:totalprice="${cartTotalPrice}" th:text="${'Total Price: $' + cartTotalPrice}" ></div>
			</li>
		</ul>
		<div class="paymentButton" id="paymentButton">Proceed to Payment</div>
		
    </body>
    
</html>